.merckx__quote {
    margin: 0;
    font-weight: 600;
    font-size: 34px;
    line-height: 44px;
    letter-spacing: -0.5px;
  }

  @media screen and (max-width: 1023px) {
    .merckx__quote {
      font-size: 23px;
      line-height: 29px;
    }
}

@media screen and (max-width: 767px) {
    .merckx__quote {
      letter-spacing: -.7px;
    }
}