.highway__title {
    margin: 0;
    font-weight: 700;
    font-size: 55px;
    line-height: 60px;
    letter-spacing: -0.5px;
  }

  @media screen and (max-width: 767px) {
    .highway__title {
      font-size: 32px;
      line-height: 40px;
      margin-bottom: 40px;
    }
}
