.header {
    min-height: 74px;
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: #F4F4F4;
    padding-right: 141px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

@media screen and (max-width: 1439px) {
    .header {
      min-height: 8vh;
      padding-right: 5%;
    }
}


@media screen and (max-width: 767px) {
    .header {
      min-height: 74px;
    }
}