.merckx__image {
    display: block;
    object-fit: contain;
    max-width: 650px;
  }

  @media screen and (max-width: 1439px) {
    .merckx__image {
      max-width: 50%;
    }
}

@media screen and (max-width: 767px) {
    .merckx__image {
      max-width: 284px;
      margin-bottom: 40px;
    }
}