.intro__text {
    display: block;
    margin: 0 0 53px;
    max-width: 460px;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    opacity: .7;
}

@media screen and (max-width: 1023px) {
    .intro__text {
        max-width: 284px;
        font-size: 16px;
        margin-bottom: 42px;
    }
}

@media screen and (max-width: 767px) {
    .intro__text {
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        margin-bottom: 40px;
    }
}