.highway {
    margin-top: 123px;
  }

@media screen and (max-width: 1439px) {
    .highway {
        margin-top: 15%;
      }
    }

    @media screen and (max-width: 767px) {
        .highway {
          margin-top: 40px;
          position: relative;
          display: flex;
          flex-direction: column;
          padding-bottom: 80px;
          border-bottom: 1px solid #E3E3E3;
        }
    }