.merckx {
    margin-top: 120px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  @media screen and (max-width: 1439px) {
    .merckx {
      margin-top: 8%;
    }
}

@media screen and (max-width: 767px) {
    .merckx {
      flex-direction: column;
      margin-top: 20px;
      padding-bottom: 80px;
      border-bottom: 1px solid #E3E3E3;
    }
}