.footer {
  width: 100%;
  margin-top: 126px;
  min-height: 424px;
  background-color: #efefef;
}

@media screen and (max-width: 1439px) {

  .footer {
    min-height: 25vh;
  }
}

@media screen and (max-width: 767px) {

  .footer {
    margin-top: 60px;
  }
}
