.footer__input {
  font-weight: 500;
  font-size: 13px;
  line-height: 28px;
  color: #151515;
  opacity: 0.7;
  border: 1px solid rgba(199, 199, 199, 0.5);
  border-radius: 4px;
  padding: 11px 0 11px 20px;
  width: 338px;
  background-color: #efefef;
  outline: none;
}

.footer__input::placeholder {
  color: #151515;
}

.footer__input:focus {
  border: 1px solid #151515;
}

@media screen and (max-width: 767px) {

  .footer__input {
    width: 264px;
  }
}
