.intro__title {
    padding: 63px 0 44px;
    margin: 0;
    max-width: 460px;
    font-weight: 700;
    font-size: 55px;
    line-height: 60px;
    letter-spacing: -0.5px;
}

@media screen and (max-width: 1439px) {
    .intro__title {
      padding-top: 0;
    }
}

@media screen and (max-width: 1023px) {
    .intro__title {
      max-width: 284px;
      font-size: 50px;
      padding-bottom: 24px;
      padding-bottom: 40px;
    }
}

@media screen and (max-width: 767px) {
    .intro__title {
        font-weight: 700;
        font-size: 32px;
        line-height: 40px;
      }
}